#projects
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    
    padding: 20px;
    
}
.box
{
    background: white;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 45%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
}