body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    opacity: 1;
    transition: opacity 3000ms ease;
}

body.fade-out{
    opacity: 0;
}

.big-button{
    padding: 16px 40px;
    font-size: 4rem;
    font-weight: 800;
    color: rgb(10, 76, 76);
    background: linear-gradient(135deg, teal, cyan);
    border: 20px ridge;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 10px 25px rgb(189, 7, 226);
}

.big-button:hover{
    transform: translateY(-3px);
    box-shadow: 0 14px 30px rgb(232, 59, 24);
}
