

body.darkMode {
    background-color: black;
    color: white;
}
.potfolio
{ 
    
  
  display: block;           
  width: fit-content;        
  margin: 0 auto;           
  background-color: yellow;
  padding: 5px 15px;
}
body
{
    background: rgba(0, 0,0, 0.4);
    backdrop-filter: blur(1px);


}




body.darkMode .box{
    color: rgb(255, 255, 255);
    background-color: #222;
    box-shadow: 0 4px 15px rgba(255,255,255,255);
}
body.darkMode .box.glow{
    color: rgb(0, 238, 159);
    background-color: rgb(23, 14, 87);
}


.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 40px;
    
    position:sticky;
    top: 0;
    z-index: 100;
}
.navbar a {
    padding: 10px 20px;       
    background: rgb(21, 223, 58);       
    color: black;             
    text-decoration: dashed;   
    border-radius: 6px;       
    margin-left: 10px;        
    font-weight: 600;         
    transition: 0.3s ease;    
}

.navbar a:hover {
    background: rgb(230, 230, 255); 
    transform: scale(1.05);         
}


/* Page transition effect */
.page-transition {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.4s ease, transform 0.4s ease;
}


nav a:hover {
    color: white;
    background: #9c96c6;
    padding: 6px 10px;
    border-radius: 5px;
    transition: 0.3s ease;
}
.hero{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 50px 20px;
}
.box{
    width: calc(50% - 20px);
    height: 150px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0,0, 0.2);
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 1.3rem;
    font-weight: bold;
    transition: 0.3 ease;


    
}
.glow{
    box-shadow: 0 0 20px rgba(100, 100, 255, 0.8);
    transform: translateY(-5px);
    transition: 0.3 ease;
}


.video-foreground
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

}
.video-foreground iframe
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120vw;
    height: 120vh;
    transform: translate(-50%, -50%);
    pointer-events: none;
    object-fit: cover;

}
